{% extends 'base.html.twig' %}
{% block body %}
    <header>
        <nav></nav>
        <div>
            <h2>Trouvez un concert
                facilement 
                avec notre carte !</h2>
                <img src="" alt="">

        </div>
    </header>
    <main>
        <div>
            <h3>Cliquez sur la ville de votre choix</h3>

        </div>
        <div>
            <h2>Toutes les villes</h2>
        </div>
    </main>
    <footer></footer>
{% endblock %}