{% extends "base.html.twig" %}

{% block body %}
    <h2>Politique de confidentialité</h2>
    <section>
        <div>
            <h3>Introduction</h3>
            <p>Bienvenue sur notre site web dédié à la recherche de concerts près de chez vous. Nous prenons très au sérieux la protection de vos données à caractère personnel et nous nous engageons à respecter les lois et réglementations en vigueur en matière de protection des données, y compris le Règlement général sur la protection des données (RGPD).</p>
        </div>
        <article>
            <div>
                <h3>Collecte et utilisation des données à caractère personnel</h3>
                <p>Nous collectons les données à caractère personnel suivantes :</p>
                <p>Votre adresse IP et des informations sur votre navigateur web. Les informations de localisation que vous nous fournissez lorsque vous utilisez notre outil de recherche de concerts</p>
                <p>Nous utilisons ces données pour vous fournir les informations sur les concerts disponibles près de chez vous ou dans une ville que vous avez sélectionnée.</p>
            </div>
            <div>
                <div>
                    <h3>Base juridique du traitement des données à caractère personnel</h3>
                    <p>Nous collectons et traitons vos données à caractère personnel sur la base de votre consentement. Vous pouvez retirer votre consentement à tout moment en nous contactant à l'adresse indiquée ci-dessous.</p>
                </div>
                <div>
                    <h3>Cookies</h3>
                    <p>Nous utilisons des cookies pour faciliter votre utilisation de notre site web. Vous pouvez désactiver les cookies dans les paramètres de votre navigateur si vous le souhaitez.</p>
                </div>
            </div>
        </article>
        <div>
            <h3>Sécurité des données à caractère personnel</h3>
            <p>Nous prenons des mesures raisonnables pour protéger vos données à caractère personnel contre la perte, l'utilisation abusive, l'accès non autorisé, la divulgation, l'altération ou la destruction. Toutefois, aucune méthode de transmission sur Internet ou de stockage électronique n'est sécurisée à 100 %, et nous ne pouvons garantir la sécurité absolue de vos données.</p>
        </div>
        <article>
            <div>
                <h3>Droits des personnes concernées</h3>
                <p>Vous avez le droit de demander l'accès, la rectification, l'effacement, la limitation du traitement ou la portabilité de vos données à caractère personnel. Vous avez également le droit de déposer une plainte auprès de l'autorité de contrôle compétente en matière de protection des données.</p>
            </div>
            <div>
                <h3>Modifications de la politique de confidentialité</h3>
                <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment en publiant une version mise à jour sur notre site web. Nous vous recommandons de consulter régulièrement cette page pour vous assurer que vous êtes informé des modifications éventuelles.</p>
            </div>
        </article>
        <div>
            <h3>Contact</h3>
            <p>Si vous avez des questions concernant cette politique de confidentialité ou la manière dont nous traitons vos données à caractère personnel, veuillez nous contacter à l'adresse e-mail suivante : acikozmelih@gmail.com</p>
        </div>
    </section>
{% endblock %}